* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
body {
    margin: auto 15% auto 25%;
}
.myhead{
    width: 100%;
    display: flex;
    justify-content: space-around;
 
}
.mybody{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.myfoot{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.row-4 {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    text-align: center;

}
.mylogo {
    width: 50%;
}
img {
    max-width: 100%;
    margin: 10px;
}
.my-line {
    height: 6px;
    background-color: rgb(150, 150, 150);
}